* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: fit-screen;
  line-height: 1;
  background-color: #b8d4cb;
}

h1 {
  color: yellow;
  margin: 20px;
  padding: 20px;
  background-color: brown;
  border-radius: 20px 0 20px 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 20px 0 20px 0;
  border: 2px solid yellow;
  font-size: 40px;
}
.message-p {
  background-color: brown;
  border-radius: 20px 0 20px 0;
  border: 2px solid yellow;
  margin: 20px;
  padding: 20px;
  color: yellow;
}

img {
  border-radius: 20px;
  /* padding: 20px; */
  width: 300px;
  margin: 20px;
  border: 2px solid brown;
}
p {
  margin: 0 40px;
  padding: 5px;
}
form {
  padding: 20px;
}
#profile {
  padding: 20px;
  background-color: brown;
  border-radius: 20px 0 20px 0;
  border: 2px solid yellow;
  color: yellow;
  margin: 20px;
  /* width: 500px; */
  align-self: center;
}

.message {
  margin: 20px;
}
.interest {
  margin: 20px;
}
.follow {
  margin: 20px;
}
.contact {
  margin: 20px;
}
.About {
  margin: 20px;
}
ul li {
  margin: 5px 40px;
  list-style: none;
}
ul li a {
  background-color: brown;
  color: yellow;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 10px;
}
a:hover {
  background-color: red;
  color: blue;
  border-radius: 10px;
}
