* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: fit-screen;
  line-height: 1;
}
body {
  width: 33.33%;
}
.box1 {
  background-color: red;
  padding: 40px;
  margin: 20px;
  border: 4px solid purple;
  color: #fff;
}
.box2 {
  background-color: blue;
  padding: 40px;
  margin: 50px;
  border: 4px solid purple;
  color: #fff;
}
.box3 {
  background-color: green;
  /* background-color: blue; */
  padding: 40px;
  margin: 80px;
  border: 4px solid purple;
  border-radius: 20px;
  color: #fff;
}

.box1:hover {
  background-color: green;
  box-shadow: 10px 5px 5px red;
  padding: 60px;
}
.box2:hover {
  background-color: red;
  box-shadow: 10px 5px 5px blue;
  padding: 60px;
}
.box3:hover {
  background-color: blue;
  box-shadow: 10px 5px 5px green;
  padding: 50px;
}
