* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* container styles */
html {
  font-size: 16px;
}
body {
  background-color: #674baf;
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 40px;
}
/* nav-logo */
.logo img {
  width: 180px;
}
/* main */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
h1 {
  font-family: "Poppins";
  font-size: 44px;
  font-weight: 600;
  color: #fff;
  margin: 42px 0;
}
p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
}
.hero a {
  text-decoration: none;
  background-color: #fff;
  font-family: "Open Sans";
  color: #b45bb4;
  border-radius: 30px;
  padding: 12px 60px;
  cursor: pointer;
  box-shadow: 0 4px 10px #3a352f;
}
.hero-left img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
}
.hero a:hover {
  background-color: #e882e8;
  color: #fff;
  cursor: pointer;
}
/* footer */
footer {
  margin: 10px 0px;
}
.social-icons {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin: 0 0 20px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  padding: 0;
}

.icons:hover {
  border: 2px solid #d82cd8;
  color: #d82cd8;
}
/* responsiveness */
@media (max-width: 768px) {
  body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 50px;
  }
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .logo img {
    width: 120px;
  }
  .hero-left img {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
  }
  h1 {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 42px 0;
    text-align: center;
  }
  p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
  }
  .hero {
    text-align: center;
    margin-bottom: 80px;
  }
  .hero a {
    padding: 6px 65px;
  }
  footer {
    margin-bottom: 10px;
  }
  .social-icons {
    justify-content: center;
    gap: 10px;
  }
  .icons {
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    padding: 10px 10px;
  }
}
